.access_keys
.ipynb_checkpoints
__pycache__/


# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info
.installed.cfg

# PyInstaller
*.manifest
*.spec

# AWS SAM and CloudFormation artifacts
.aws-sam/
.template

# Terraform (if used alongside AWS)
.terraform/

# Environment variables and virtual environments
.env
.env.*
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# IDE project files
.idea/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store
notebooks/aws_keys.py
